@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.pentagono {
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

.gold path{
   fill: #ffd700;
}

.silver path{
   fill: #bec2cb;
}

.diamond path{
   fill: #70d1f4;
}

.emerald path{
   fill: #50c878;
}

.bronze path{
   fill: #a97142;
}
